<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lendme</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="./main-style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800" rel="stylesheet">

</head>

<body>

<div class="page-wrap">
	<div class="header">
		<h1 class="logo"><span class="lend">LEND</span>ME</h1>
		<h2 class="subhead">Lån smart - lad bankerne komme til dig</h2>
	</div>	

	<div class="sms spacing">
		<div class="login">
			<h3 class="login-text">Log ind</h3>
		</div>
		<h4 class="cpr">Indtast dit cpr-nummer</h4>
		<p class="p-padding">Du modtager både en e-mail samt SMS, hvorfra du kan genoptage din ansøgning eller se dine lånetilbud.</p>
		<form class="form">
			<div class="input-box">
				<input type="text" name="cpr">
			</div>
			<div class="login-box">
				<button>LOG IND</button>
			</div>
		</form>
		<div class="steps">
			<div class="steps-un">
				<div class="circle">
					<p>1</p>
				</div>
				<p class="num-text">Skriv dit CPR-nummer og tryk SEND</p>
			</div>
			<div class="steps-un">
				<div class="circle">
					<p>2</p>
				</div>
				<p class="num-text">Du modtager nu en mail og SMS</p>
			</div>
			<div class="steps-un">
				<div class="circle">
					<p>3</p>
				</div>
				<p class="num-text">Tryk på link i mail eller SMS'en og du 
				bliver logget ind automatisk</p>
			</div>
		</div>
	</div>
	
	<div class="contact">
		<h3 class="spacing">KONTACT OS</h3>
		<p class="spacing"><span class="phone">70 60 62 62</span> </br> Alle hverdage fra 10.00 - 16.00</p>
		<p class="spacing text">Det skal være enkelt og trygt at låne penge gennem Lendme. Derfor er du altid velkommen til at ringe eller skrive til os på kundeservice@lendme.dk, hvis du har spørgsmål til os. Vi svarer oftest med det samme, men altid indenfor én hverdag.</p>

		<div class="footer-menu spacing">
			<ul class="column-1">
      			<li class="footer-menu-item">
  					<a href="#" title="Andelsboliglån">Andelsboliglån</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Billån">Billån</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Boliglån">Boliglån</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Ferielån">Ferielån</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Forbrugslån">Forbrugslån</a>
  				</li>

  				</ul>

			<ul class="column-2">
      			<li class="footer-menu-item">
  					<a href="# title="Kviklån">Kviklån</a>
  				</li>

      			<li class="footer-menu-item">
 					 <a href="#" title="Lån penge">Lån penge</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Låneberegner">Låneberegner</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Privatlån">Privatlån</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Samlelån">Samlelån</a>
  				</li>

  				</ul>

			<ul class="column-3">
      			<li class="footer-menu-item">
  					<a href="#" title="Kundeservice">Kundeservice</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Log ind">Log ind</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Om Lendme">Om Lendme</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Presse">Presse</a>
  				</li>

      			<li class="footer-menu-item">
  					<a href="#" title="Spørgsmål og svar">Spørgsmål og svar</a>
  				</li>

	  </ul>
		</div>
	</div>
	<div class="address">
			<h3><span class="lend">LEND</span>ME</h3>	
			<p>CARL JACOBSENS VEJ 16, ST, 8 - 2500 VALBY - 70 60 62 62 - <a href="mailto:INFO@LENDME.DK">INFO@LENDME.DK</a></p>
		</div>

	<div class="footer">
		<ul class="footer-legal">
			<li>Copyright © 2018 Lendme. Alle rettigheder forbeholdes.</li>
			<div class="footer-links">
				<li><a href="#">Privatlivspolitik</a></li>
				<li><a href="">Vilkår</a></li>
			</div>
		</ul>
	</div>
</div>

</body>
</html>